@import "tailwindcss";
html {
    scroll-behavior: smooth;
    color: antiquewhite;
    background-color: rgb(5, 6, 15);
}
#inicio::after, #inicio::before{
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(60px);
  opacity: 0;
  z-index: -1;
  opacity: 0.8;
}
#inicio::before{
  width: 100%;
  height: 30%;
  background: radial-gradient(circle, rgba(102, 111, 239, 0.252) 0%, transparent 80%);
}
#inicio::after{
  width: 100%;
  height: 60%;
  background: radial-gradient(circle, rgba(51, 61, 172, 0.26) 0%, transparent 100%);
}
#finalShin::after, #finalShin::before{
  content: "";
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  filter: blur(60px);
  opacity: 0;
  z-index: -1;
}
#finalShin::before{
  width: 100%;
  height: 30%;
  background: radial-gradient(circle, rgba(102, 111, 239, 0.486) 0%, transparent 60%);
}
#finalShin::after{
  width: 100%;
  height: 60%;
  background: radial-gradient(circle, rgba(51, 62, 172, 0.441) 0%, transparent 80%);
}
#finalShin.activo::after, #finalShin.activo::before{
  opacity: 1;
  transition: 2s all;
}
#finalShin.desctivo::after, #finalShin.desctivo::before{
  opacity: 0;
  transition: 1s all;
}

/* Animaciones */
@keyframes scale-normal {
    to {
        scale: 1;
    }
}
@keyframes scale-up {
    to {
        scale: 1.7;
    }
}

@keyframes fade-away {
    to {
        opacity: 0;
    }
}
.animationScaleup{
    animation: 
    scale-up 1s both ease-in-out;
}
.animationScalenNormal{
    animation: 
    scale-normal 1s both ease-in-out;
  }
section{
    display: grid;
    position: relative;
    place-items: center;
}

#inicio {
    view-timeline: --scroll;
    view-timeline-axis: block;
    min-height: 100vh;
}
#secProyectos{
    display: block;
    min-height: 80vh;
}
#contacto{
  display: block;
}
#inicio>div {
    position: sticky;
    top: 50%;
}

/* Animaciones */
#nombre {
    animation:
        scale-up both ease-in-out,
        fade-away both linear;
    animation-timeline: --scroll;
    animation-range:
        exit 0% exit 60%,
        exit 0% exit 60%;
}

#apellidos {
    animation: fade-away both linear;
    animation-timeline: --scroll;
    animation-range: exit 0% exit 60%;
}


.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(50deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    filter: blur(1px);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 60%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .linkProyect {
    width: 100%;
    color: antiquewhite;
    opacity: 0;
    transition: transform 0.5s;
  }
  .card:hover .linkProyect {
    opacity: 1;
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {

    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  :root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    box-sizing: border-box;}  
    /* Estilo para la sección de experiencia */
#experiencia {
  margin: 3rem auto;
  border-radius: 12px;
  transition: filter 0.3s ease;
}
.ContactSect{
 padding: 2rem !important;
}
.expCard, .ContactSect{
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 2px solid rgba(47, 44, 144, 0.249);
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  transition: background-color 0.9s ease;
}

.expCard:hover {
  background-color: rgba(147, 70, 172, 0.2);
}

.expCard h2 {
  color: antiquewhite;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.expCard .date {
  font-style: italic;
  color: #bbb;
  margin-bottom: 0.8rem;
}

.expCard ul {
  padding-left: 1.2rem;
}

.expCard ul li {
  margin-bottom: 0.4rem;
}
